html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  background-color: #fff;
}
a {
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
}
ul,
li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.title {
  font-weight: 400;
  font-size: 30px;
  background-color: #fff;
  padding: 40px 20px 40px 30px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
}
.rateyo {
  display: inline-block;
}
.container__fluid {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (max-width: 720px) {
  .container-fluid {
    padding: 0 15px;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
