@import "global";
@import "vars";
@import "fonts";

// start header

.header {
  background-color: $gray;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}
.header__btn {
  margin-left: auto;
  margin-right: 50px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 4px 18px;
  background-color: $blue;
  border-radius: 17px;
  a {
    line-height: 28px;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
  }
}
.header__box {
  display: flex;
  &-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    div + div {
      margin-left: 30px;
    }
  }
}
.header__box-user {
  display: flex;
  .username {
    color: #333;
    line-height: 22px;
    .money {
      color: $blue;
    }
  }
}
.avatar {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.header__bottom {
  background-color: #fff;
}
.header__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
.menu-list {
  a {
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    color: $darkgray;
    font-weight: 500;
    line-height: 42px;
    text-transform: uppercase;
  }
  li + li {
    margin-left: 33px;
  }
}
.header__bottom-form {
  position: relative;
  z-index: 1;
  input {
    width: 358px;
    border: 1px solid #d9dfe5;
    border-radius: 27px;
    padding: 15px 80px 19px 25px;
    font-weight: 400;
    color: #898f96;
  }
  button {
    position: absolute;
    background-color: #0674ec;
    width: 70px;
    padding: 17px 27px;
    border-radius: 28px;
    top: 1px;
    right: 1px;
    border: none;
  }
}

//end header

//start slider
.slider {
  background: linear-gradient(
    -90deg,
    rgb(0, 48, 222) 0%,
    rgb(23, 69, 237) 54%,
    rgb(46, 90, 251) 100%
  );
  opacity: 0.8;
  height: 726px;
  position: relative;
}
.slider__item {
  text-align: center;
  padding-top: 185px;
  color: $lightgray;

  &-title {
    font-size: 60px;
    line-height: 70px;
    span {
      font-weight: 700;
      display: block;
    }
  }
  &-text {
    font-size: 20px;
    line-height: 70px;
  }
  &-btn {
    margin-top: 65px;
    margin-bottom: 60px;
    a {
      padding: 20px 30px;
      border: 1px solid #fff;
      background-color: transparent;
      color: #fff;
      box-shadow: none;
      border-radius: 29px;
      margin-right: 30px;
      transition: all 0.3s;
      &:hover {
        background-color: #fff;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        color: $blue;
      }
    }
  }
}
.search__box {
  position: relative;
  display: flex;
  justify-content: center;
  &-item-1 {
    background-color: rgba(255, 255, 255, 0.5);
    width: 1080px;
    border-radius: 6px;
    height: 120px;
    position: absolute;
    top: 100px;
  }
  &-item-2 {
    width: 1110px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    height: 135px;
    position: absolute;
    top: 113px;
  }
  &-item-3 {
    background-color: #fff;
    padding: 40px;
    position: absolute;
    top: 126px;
    width: 1140px;
    height: 135px;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    .form__inner {
      display: flex;
      justify-content: space-between;
      input {
        border: 1px solid #dcdcdc;
        padding: 20px 40px 20px 30px;
        position: relative;
        width: 610px;
      }

      .category__btn {
        position: absolute;
        right: 311px;
        padding: 15px 70px 14px 20px;
        background-color: transparent;
        border: 1px solid #dcdcdc;
        border-left: none;
        color: #555;
        cursor: pointer;
        &::after {
          content: "";
          background-image: url(../images/icons/downarrow.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 13px;
          height: 7px;
          position: absolute;
          top: 27px;
          right: 20px;
        }
      }
      .search__btn {
        padding: 20px 70px;
        background-color: $blue;
        border-radius: 4px;
        color: #fff;
      }
    }
  }
}

//end slider

//start features
.features {
  background-color: #fff;
}
.features__inner {
  margin-top: 195px;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
  .features__item {
    text-align: center;
    max-width: 361px;
    padding: 40px 35px 45px;
    &:hover {
      background-color: #fff;
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
    &-img {
      margin-bottom: 35px;
    }
    &-title {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }
  .center-feature {
    img {
      margin-bottom: -8px;
    }
  }
}

//end features

// start product-slider

.product-slider {
  background-color: $gray;
  padding: 120px 0;
  .product__title {
    margin-bottom: 50px;
  }
  &__inner {
    display: flex;
  }
}
.product-slider__item {
  display: flex !important;
  position: relative;

  &-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 555px;
    height: 450px;
  }

  &-info {
    background-color: #fff;
    max-width: 610px;
    padding: 50px;
    max-height: 450px;
  }
  &-title {
    font-size: 24px;
    font-weight: 500;
    color: #000;
  }
  &-theme {
    display: flex;
    justify-content: flex-start;
    margin-top: 24px;
    .author {
      padding-left: 40px;
      margin-right: 15px;
      background-repeat: no-repeat;
      a {
        color: #000;
      }
    }
    .product-theme {
      padding-left: 40px;
      background-repeat: no-repeat;
      background-position: 10px 8px;
      a {
        color: $purple;
      }
    }
  }
  &-text {
    font-size: 15px;
    line-height: 30px;
    color: #555;
    margin-bottom: 25px;
  }
  &-category {
    span {
      background-color: #f1f3f6;
      border-radius: 19px;
      padding: 3px 14px;
      color: #868c96;
      font-size: 15px;
      line-height: 30px;
    }
    padding-bottom: 40px;
    border-bottom: 1px solid #ececec;
  }
  &-box {
    display: flex;
    justify-content: space-around;
    margin-top: 22px;
  }
  &-price {
    background-color: $blue;
    border-radius: 20px;
    padding: 2px 14px;
    color: #fff;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    height: 32px;
  }
  &-like {
    padding-left: 26px;
    padding-right: 20px;
    height: 32px;
    position: relative;
    img {
      position: absolute;
      left: 0;
      top: 9px;
    }
    cursor: pointer;
  }
  &-cart {
    position: relative;
    color: $blue;
    margin-right: auto;
    cursor: pointer;
    height: 32px;
    padding-left: 20px;
    img {
      position: absolute;
      left: 0;
      top: 8px;
    }
  }
}
.product__title {
  position: relative;
  span {
    position: absolute;
    background-color: $purple;
    display: block;
    width: 85px;
    height: 40px;
    right: 30px;
    top: 35px;
    border-radius: 20px;
  }
}
.product-slider .slick-arrow {
  background-color: transparent;
  border: none;
}
.product-slider .slick-prev,
.product-slider .slick-next {
  position: absolute;
  top: -113px;
  right: 0;
  font-size: 0;
  content: "";
  cursor: pointer;
  outline: none;
}
.product-slider .slick-prev {
  background-image: url(../images/icons/chevron-left.png);
  width: 8px;
  height: 14px;
  background-repeat: no-repeat;
  right: 80px;
}
.product-slider .slick-next {
  background-image: url(../images/icons/chevron-right.png);
  width: 8px;
  height: 14px;
  background-repeat: no-repeat;
  right: 40px;
}
// end product-slider

// start mix-products
.mix__products {
  background-color: #f6f7fb;
  padding: 120px 0;
  &-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-filter {
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    button {
      border: none;
      background: transparent;
      background-color: #f1f3f6;
      border-radius: 19px;
      padding: 3px 14px;
      color: #868c96;
      font-size: 15px;
      line-height: 30px;
      cursor: pointer;
    }
    button + button {
      margin-left: 10px;
    }
  }
}

.mix__products-filter .mixitup-control-active,
.mix__products-bottom .mixitup-control-active {
  background-color: $blue;
  color: #fff;
}
.mix__products-bottom {
  margin-top: 60px;
  button {
    display: flex;
    margin: 0 auto;
    border: none;
    background: transparent;
    background-color: #f1f3f6;
    border-radius: 19px;
    padding: 3px 14px;
    color: #868c96;
    font-size: 15px;
    line-height: 30px;
    cursor: pointer; //123
  }
}
// end mix-products

//start followers-slider
.followers-slider {
  background-color: #eff1f5;
  padding: 110px 0;
}
.followers__title {
  position: relative;
  span {
    position: absolute;
    background-color: $blue;
    display: block;
    width: 85px;
    height: 40px;
    right: 30px;
    top: 35px;
    border-radius: 20px;
  }
}
.products__btn {
  display: none;
  height: 42px;
  line-height: 24px;
  padding: 9px 20px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  box-shadow: none;
  border-radius: 29px;
  margin: 0 10px;
  transition: all 0.3s;
  &:hover {
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    color: $blue;
  }
}
.followers__item {
  background-color: #fff;
  max-width: 361px;
  border-radius: 4px;
  margin-bottom: 50px;
  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    &:hover {
      background: linear-gradient(
        -90deg,
        rgb(6, 116, 236) 0%,
        rgb(61, 94, 215) 46%,
        rgb(115, 71, 193) 100%
      ) !important;
      transition: all 0.5s;
      .products__btn {
        display: block;
      }
    }
  }
  &-info {
    padding-top: 30px;
  }
  &-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 361px;
    height: 230px;
  }
  &-theme {
    padding-left: 30px;
    display: flex;
    .author {
      background-repeat: no-repeat;
      padding-left: 40px;
      a {
        color: #000;
      }
    }
    .product-theme {
      background-repeat: no-repeat;
      background-position: 15px 7px;
      padding-left: 40px;
      a {
        color: $purple;
      }
    }
  }
  &-title {
    padding-left: 30px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    color: #000;
  }
  &-text {
    padding-bottom: 30px;
    border-bottom: 1px solid #ececec;
    padding-left: 30px;
  }
  &-box {
    display: flex;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-right: 20px;
  }
  &-price {
    height: 30px;
    padding: 0 20px;
    background-color: #e6f1fd;
    color: $blue;
    border-radius: 15px;
    margin-right: 15px;
  }
  &-like {
    margin-right: 15px;
    height: 30px;
    position: relative;
    padding-left: 20px;
    img {
      position: absolute;
      left: 0;
      top: 7px;
    }
  }
  &-cart {
    margin-left: 50px;
    color: $blue;
    position: relative;
    padding-left: 20px;
    img {
      position: absolute;
      left: 0;
      top: 7px;
    }
  }
}
.followers-slider .slick-arrow {
  background-color: transparent;
  border: none;
}
.followers-slider .slick-prev,
.followers-slider .slick-next {
  position: absolute;
  top: -62px;
  right: 0;
  font-size: 0;
  content: "";
  cursor: pointer;
  outline: none;
}
.followers-slider .slick-prev {
  background-image: url(../images/icons/chevron-left.png);
  width: 8px;
  height: 14px;
  background-repeat: no-repeat;
  right: 80px;
}
.followers-slider .slick-next {
  background-image: url(../images/icons/chevron-right.png);
  width: 8px;
  height: 14px;
  background-repeat: no-repeat;
  right: 40px;
}

//end followers-slider

// start facts

.facts {
  background-color: #212225;
  padding: 100px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}
.facts__item {
  text-align: center;

  span {
    padding-top: 100px;
    display: block;
    font-size: 36px;
    line-height: 36px;
    position: relative;
    img {
      position: absolute;
      top: 20px;
      left: 30px;
    }
  }
  color: #fff;
  font-size: 18px;
}
.fact-1 {
  span {
    color: #feb71d;
  }
}
.fact-2 {
  span {
    color: #58c9e9;
    img {
      left: 15px;
    }
  }
}
.fact-3 {
  span {
    color: #77de51;
    img {
      left: 45px;
    }
  }
}
.fact-4 {
  span {
    color: #ff6a6d;
    img {
      left: 30px;
    }
  }
}
// end facts

// start advantages

.advantages {
  padding: 120px 0;
}
.advantages__title {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  span {
    color: $blue;
  }
}
.advantages__subtitle {
  margin: 30px auto 60px;
  text-align: center;
  max-width: 670px;
}
.advantages__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .advantages__item {
    position: relative;
    span {
      font-size: 48px;
      position: absolute;
      color: $blue;
      opacity: 0.2;
      left: 20px;
      top: 20px;
    }
    margin-bottom: 30px;
    border-radius: 4px;
    max-width: 361px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    min-height: 373px;
    text-align: center;
    padding: 10px;
    &-img {
      padding-top: 55px;
      img {
        height: 48px;
      }
    }
    &-title {
      font-size: 24px;
      padding-top: 40px;
    }
    &-text {
      padding-top: 30px;
      max-width: 310px;
      margin: 0 auto;
    }
  }
}

// end advantages

//start sellbuy

.sellbuy {
  background-image: url(../images/content/sellbuy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 561px;
  padding: 100px 0;
  .sellbuy__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.sellbuy__item {
  text-align: center;
  margin-right: 190px;

  &-title {
    margin-top: 50px;
    font-size: 36px;
    color: #fff;
  }
  &-text {
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
  }
  &-btn {
    margin: 50px auto 0;

    border-radius: 24px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 190px;
    a {
      font-size: 16px;
      color: $blue;
      line-height: 36px;
    }
  }
}
.right {
  margin-left: 190px;
  margin-right: 0;
}
//end sellbuy

// start feedback

.feedback__inner {
  display: flex;
  justify-content: space-between;
}
.feedback__item {
  padding-top: 40px;
  max-width: 555px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-left: 2px solid $blue;
  padding-left: 40px;
  &-text {
    color: #555;
    margin-top: 25px;
    margin-bottom: 20px;
  }
}
.feedback__title {
  padding-top: 120px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  span {
    color: $blue;
  }
}
.feedback__subtitle {
  text-align: center;
  margin: 0 auto;
  max-width: 670px;
  margin-bottom: 60px;
}

.profession {
  font-size: 16px;
  color: #555;
  position: relative;
  &::after {
    font-family: "icomoon" !important;
    content: "\f0e5";
    font-size: 60px;
    color: $gray;
    position: absolute;
    right: -290px;
    top: -25px;
  }
}
.feedback__btn {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 120px;
  a {
    background-color: $blue;
    border-radius: 24px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 13px 30px;
    transition: all 0.5s;
    &:hover {
      background-color: transparent;
      border: 1px solid $blue;
      color: $blue;
    }
  }
}

// end feedback

// start news

.news {
  background-color: $gray;
  padding-bottom: 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    padding-top: 120px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    span {
      color: $blue;
    }
  }
  &__subtitle {
    text-align: center;
    margin: 0 auto;
    max-width: 670px;
    margin-bottom: 60px;
  }
}
.news__item {
  display: flex;
  flex-direction: column;
  max-width: 361px;
  background-color: #fff;
  text-align: center;
  &-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 361px;
    min-height: 200px;
    margin-bottom: 30px;
  }
  &-title {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 25px;
  }
  &-text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
    color: #555;
  }
  &-states {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $gray;
    color: #999;
  }
  .states {
    &-date {
      padding-left: 20px;
      position: relative;
      &::before {
        font-family: "icomoon" !important;
        content: "\f017";
        color: $blue;
        position: absolute;
        left: 0;
      }
      &::after {
        content: "";
        width: 1px;
        height: 40px;
        background-color: $gray;
        position: absolute;
        right: -28px;
      }
    }
    &-comment {
      position: relative;
      padding-left: 20px;

      &::before {
        font-family: "icomoon" !important;
        content: "\f0e5";
        position: absolute;
        left: 0;
      }
    }
    &-views {
      padding-left: 20px;
      position: relative;
      &::before {
        font-family: "icomoon" !important;
        content: "\f06e";
        position: absolute;
        left: 0;
      }
    }
  }
}

// end news

// start support
.support__inner {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
  .support__item {
    text-align: center;
    margin: 0 auto;
    &-img {
      margin-bottom: 25px;
    }
    &-text {
      font-size: 24px;
      span {
        color: $blue;
      }
      .text-support {
        color: $purple;
      }
    }
  }
}
// end support

//start banner

.banner {
  padding: 110px 0;
  background: linear-gradient(
    -90deg,
    rgb(13, 62, 242) 0%,
    rgb(64, 48, 201) 46%,
    rgb(114, 33, 160) 100%
  );
  opacity: 0.902;
  height: 400px;
  text-align: center;
  color: #fff;
  &-title {
    font-size: 36px;
    margin-bottom: 24px;
  }
  &-text {
    font-size: 18px;
    margin-bottom: 45px;
  }
  &-btn {
    padding: 15px 30px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    box-shadow: none;
    border-radius: 29px;
    margin-right: 30px;
    transition: all 0.3s;
    &:hover {
      background-color: #fff;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      color: $blue;
    }
  }
}
// end banner

// start footer
.footer {
  background-color: #262b30;
  padding: 110px 0 0;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__item {
  max-width: 260px;
  color: #ababab;
  &.newsletter {
    max-width: 370px;
  }
  &.info {
    width: 160px;
  }
  a {
    color: #ababab;
  }
  &-logo {
    margin-bottom: 30px;
  }
  &-text {
    margin-bottom: 25px;
  }
  &-contacts {
    a {
      display: block;
      padding-left: 30px;
      line-height: 26px;
      font-size: 15px;
    }
    .phone,
    .email,
    .map {
      position: relative;
    }
    .phone::before {
      content: "\f095";
      font-family: "icomoon" !important;
      position: absolute;
      left: 0;
      font-size: 16px;
    }
    .email::before {
      content: "\f003";
      font-family: "icomoon" !important;
      position: absolute;
      left: 0;
      font-size: 16px;
    }
    .map::before {
      content: "\f041";
      font-family: "icomoon" !important;
      position: absolute;
      left: 0;
      font-size: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &-title {
    font-size: 18px;
    color: #fff;
    padding-top: 16px;
    margin-bottom: 30px;
  }
  &-list {
    li {
      display: block;
      list-style: none;
    }
  }
  &-form {
    position: relative;
    margin-bottom: 50px;
    input {
      padding: 11px 70px 11px 20px;
      border: none;
      width: 100%;
      border-radius: 18px;
    }
    button {
      position: absolute;
      right: 0;
      background-color: $blue;
      width: 110px;
      border-radius: 18px;
      padding: 11px 0;
      border: none;
      color: #fff;
    }
  }
  &-social {
    div {
      display: inline-block;
      & + div {
        margin: 0 6px;
      }
    }
  }
}
.footer__copy {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: #192027;
  color: #999;
  span {
    color: #fff;
  }
}
// end footer

// start search

.search {
  background-image: linear-gradient(
    -90deg,
    rgb(13, 62, 242) 0%,
    rgb(45, 47, 199) 46%,
    rgb(76, 31, 156) 100%
  );
  opacity: 0.902;
  height: 281px;
  text-align: center;
  padding: 80px 0 30px;
  &__title {
    color: #f3f3f8;
    font-size: 26px;
    margin-bottom: 30px;
    span {
      font-weight: 500;
    }
  }
  &__form {
    margin-bottom: 30px;
    form {
      position: relative;
      width: 556px;
      margin: 0 auto;
    }
    input {
      width: 555px;
      border: none;
      border-radius: 24px;
      padding: 14px 130px 14px 30px;
    }
    button {
      position: absolute;
      background-color: $blue;
      width: 110px;
      padding: 14px 30px;
      border: none;
      border-radius: 24px;
      color: #fff;
      right: 0;
    }
  }
  .breadcrumbs {
    a {
      padding-right: 17px;
      position: relative;
      &::after {
        content: "/";
        position: absolute;
        right: 0;
      }
    }
    span {
      margin-left: 10px;
      color: #bfcad7;
    }
  }
}

// end search

// start filterbar

.filterbar__inner {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    background-color: transparent;
    border: none;
    outline: none;
  }
}
.filterbar {
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  .active {
    color: $blue;
  }
  &__new {
    margin-right: 40px;
  }
  &__popular {
    margin-right: auto;
  }
  &__price {
    margin-right: 30px;
    padding: 0 70px 0 20px;
    border: 1px solid #eceff2;
    line-height: 36px;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
    }
  }
  &__cells {
    margin-right: 30px;
    padding: 0 70px 0 20px;
    border: 1px solid #eceff2;
    line-height: 36px;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
    }
  }
}

// end filterbar

// start product-page
.product-page {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: #eff1f5;
}
.aside__title {
  position: relative;
  margin-bottom: 25px;
  img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.aside__item {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  max-width: 263px;
  padding: 30px;
  margin-bottom: 30px;
  .aside__list {
    border-top: 1px solid #e7ebee;
    padding-top: 30px;
  }
  li {
    display: flex;
    justify-content: space-between;
    width: 205px;
    line-height: 36px;
    a {
      color: #555;
      padding-left: 20px;
      position: relative;
      transition: all 0.3s;
      &:hover {
        color: $blue;
      }
      &::before {
        content: "\f105";
        position: absolute;
        font-family: "icomoon" !important;
        left: 0;
        color: #747b86;
      }
    }
    span {
      color: #747b86;
      padding-left: 10px;
    }
  }
}
aside {
  margin-right: 30px;
}

.filter .aside__list {
  li {
    a {
      position: relative;
      &::before {
        content: "\f1db";
        position: absolute;
        font-family: "icomoon" !important;
        left: 0;
        color: #747b86;
        font-size: 10px;
      }
    }
  }
}
.irs--flat .irs-line {
  height: 6px;
  background-color: #efedf3;
  border-radius: 4px;
}
.irs--flat .irs-bar {
  height: 6px;
  background-color: #7347c1;
}
.irs--flat .irs-max,
.irs--flat .irs-min,
.irs--flat .irs-max,
.irs--flat .irs-max {
  display: none;
}
.irs--flat .irs-handle {
  top: 19px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  border: 4px solid $blue;
}
.irs--flat .irs-handle > i:first-child {
  display: none;
}
.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
  color: $purple;
  font-size: 15px;
  line-height: 32px;
  width: 80px;
  text-shadow: none;
  padding: 0px 5px;
  border-radius: 19px;
  background-color: #f1ecf9;
  text-align: center;
  position: absolute;
  top: 50px;
}
.irs--flat .irs-single {
  font-size: 11px;
}
.irs--flat .irs-from::before,
.irs--flat .irs-single::before,
.irs--flat .irs-to::before {
  display: none;
}
.aside__range {
  border-top: 1px solid #e7ebee;
  padding-top: 30px;
  margin-bottom: 70px;
}
.aside__btn {
  text-align: center;
  button {
    background-color: $blue;
    text-align: center;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
    width: 170px;
    padding: 6px 30px;
    border-radius: 20px;
    line-height: 32px;
    border: none;
    color: #fff;
  }
}
.product-page__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 110px;
}
.products__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 880px;
  .products__btn {
    line-height: 24px;
    padding: 9px 10px;
    transition: all 0.3s;
    font-size: 15px;
  }
  .followers__item {
    max-width: 261px;
    height: 400px;
    .cart-list {
      display: none;
    }
    &-box {
      display: flex;
    }
    .box-list {
      display: none;
    }
    &-info {
      padding: 0;
      border-bottom: 1px solid #ececec;
    }
    .category-list {
      display: none;
    }
    &-text {
      display: none;
    }
    &-img {
      max-width: 261px;
      height: 160px;
      transition: none;
      background: none;
      margin-bottom: 15px;
    }
    &-theme {
      padding: 0px 10px;
      margin-bottom: 20px;
    }
    &-title {
      padding: 0px 10px;
      margin-bottom: 20px;
      line-height: 24px;
      font-size: 18px;
      color: #000;
    }
    &-box {
      padding: 0px 10px 15px;
      justify-content: space-between;
    }
    &-block {
      padding: 15px 10px;
      max-width: 261px;
      display: flex;
      justify-content: space-between;
      .product-theme {
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: 5px 7px;
        padding-left: 30px;
        a {
          color: $purple;
        }
      }
    }
  }
  .followers__item-img:hover {
    background: none;
  }
}
.pagination {
  &__list {
    display: flex;
    justify-content: flex-end;
  }
  li {
    text-align: center;
    margin-left: 5px;
    a {
      display: block;
      background-color: #fff;
      color: #747b86;
      width: 50px;
      border-radius: 19px;
      line-height: 24px;
      padding: 5px 5px;
    }

    &:first-child {
      margin-right: 30px;
    }
    &:last-child {
      margin-left: 30px;
    }
    .icon-long-arrow-right {
      background-color: $purple;
      color: #fff;
    }
    span {
      display: block;
      background-color: $blue;
      width: 50px;
      color: #fff;
      border-radius: 19px;
      line-height: 24px;
      padding: 5px 5px;
    }
  }
}
.banners {
  text-align: center;
  padding: 120px 0;
  background-image: linear-gradient(
    -90deg,
    rgb(13, 62, 242) 0%,
    rgb(64, 48, 201) 46%,
    rgb(114, 33, 160) 100%
  );
  height: 400px;
  color: #fff;
  &__title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-size: 18px;
    margin-bottom: 50px;
  }
  &__btn {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    width: 190px;
    margin: 0 auto;
    line-height: 36px;
    font-size: 16px;
    border: 1px solid #fff;
    padding: 10px 5px;
    border-radius: 26px;
    transition: all 0.3s;
    &:hover {
      background-color: #fff;
      a {
        color: $blue;
      }
    }
  }
}

.list {
  .followers__item {
    min-width: 880px;
    height: 210px;
    display: flex;

    &-title {
      font-weight: 500;
      margin-bottom: 10px;
      padding-left: 20px;
    }
    .theme-list {
      display: none;
    }
    .category-list {
      display: block;
      background-position: 24px 5px;
      background-repeat: no-repeat;
      background-size: 16px;
      a {
        color: $purple;
        padding-left: 30px;
        margin-left: 20px;
      }
    }
    &-img {
      width: 230px;
      height: 210px;
    }
    &-info {
      max-width: 260px;
      border-right: 1px solid #ececec;
      border-bottom: none;
      margin: 30px 0;
    }
    &-text {
      display: block;
      padding-bottom: 10px;
      border-bottom: none;
      padding-left: 20px;
      color: #555;
      line-height: 30px;
      font-size: 16px;
    }
    &-box {
      display: none;
    }
    .box-list {
      display: block;
      min-width: 210px;
      margin: 30px 0;
      padding: 0 20px;
      border-right: 1px solid #ececec;
      .author-list {
        background-repeat: no-repeat;
        margin-bottom: 25px;
        a {
          padding-left: 40px;
          color: #000;
        }
      }
      .followers__item-comment {
        padding-left: 20px;
        color: #6f7d8d;
        position: relative;
        &::before {
          content: "\f0e5";
          font-family: "icomoon" !important;
          font-size: 15px;
          color: $purple;
          position: absolute;
          left: 0;
        }
        margin-bottom: 10px;
      }
      .followers__item-like {
        padding-left: 20px;
        color: #6f7d8d;
        position: relative;
        &::before {
          content: "\f08a";
          font-family: "icomoon" !important;
          font-size: 15px;
          color: $purple;
          position: absolute;
          left: 0;
        }
      }
      .followers__item-rate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #6f7d8d;
      }
    }
    &-theme {
      .theme-list {
        display: none;
      }
    }
    .cart-list {
      display: block;
    }
    &-block {
      min-width: 180px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .followers__item-price {
        margin: 0 auto 30px;
      }
      .followers__item-cart {
        justify-content: center;
        margin-left: 0;
      }
      .product-theme {
        display: none;
      }
    }
  }
}
